<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    id="com.WISEMEN.ownioscam"
    version="1.0.0">
    
    <name>Custom Camera</name>
    <description>PhoneGap plugin to support a custom camera overlay</description>
    <author>Vote 539 and others</author>
    
    <info>
        This plugin was written with the tutorial found at:
        http://codrspace.com/vote539/writing-a-custom-camera-plugin-for-phonegap/
    </info>
    
    <js-module src="www/js/ownioscam.js" name="ownioscam">
        <clobbers target="navigator.ownioscam" />
    </js-module>
    
    <engines>
        <engine name="cordova" version=">=3.1.0" />
    </engines>
    
    <platform name="ios">
        
        <!-- config file -->
        <config-file target="config.xml" parent="/*">
            <feature name="ownioscam">
                <param name="ios-package" value="ownioscam" />
            </feature>
        </config-file>
        
        <!-- core CustomCamera header and source files -->
        <header-file src="platforms/ios/ownioscam/Classes/ownioscam.h" />
        <header-file src="platforms/ios/ownioscam/Classes/ownioscamController.h" />
        <source-file src="platforms/ios/ownioscam/Classes/ownioscam.m" />
        <source-file src="platforms/ios/ownioscam/Classes/ownioscamController.m" />
        <resource-file src="platforms/ios/ownioscam/Classes/ownioscamController.xib" />
           <resource-file src="platforms/ios/ownioscam/Resources/icons/Camera snap.png" target="platforms/ios/ownioscam/Resources/icons/Camera snap.png" />
            <resource-file src="platforms/ios/ownioscam/Resources/icons/Flash.png" target="platforms/ios/ownioscam/Resources/icons/Flash.png" />
          <resource-file src="platforms/ios/ownioscam/Resources/icons/test.png" target="platforms/ios/ownioscam/Resources/icons/test.png" />
            <resource-file src="platforms/ios/ownioscam/Resources/icons/cam_click.png" target="platforms/ios/ownioscam/Resources/icons/cam_click.png" />
    </platform>
    
</plugin>
